@{
    Layout = null;
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title text-center">Nhận tiền</div>
    </div>
    <div class="panel-body">
        <div class="card hovercard" id="result-form">
            <div class="info" align="center">
                <div class="title">
                    <a target="_blank" href="#" id="link_amount"></a>
                </div>
                <div class="main-desc">MÃ NHẬN TIỀN: <span id="pass_code"></span></div>
                <div class="desc" id="send_message"></div>
            </div>
            <div class="avatar" align="center" id="result">
            </div>
            <div class="bottom" align="center">

                @*<a id="share-facebook" href="#">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a class="btn btn-danger" rel="publisher"
                       href="#">
                        <i class="fa fa-mobile-phone"></i>
                    </a>
                    <a class="btn btn-primary" rel="publisher"
                       href="#">
                        <i class="fa fa-inbox"></i>
                    </a>*@
            </div>
            <div class="bottom" align="center">
                <button type="button" id="btn-remoney" href="#" class="btn btn-primary"><i class="glyphicon glyphicon-heart"></i> Gửi tiếp</button>
            </div>
        </div>
    </div>
</div>
