@{
    ViewBag.Title = "Nhận 500k từ MoneyNow";
    //Layout = "~/Views/Shared/_LayoutPlugin.cshtml";
    Layout = null;
}
<div class="list-group">
    <a href="http://www.jquery2dotnet.com" class="list-group-item visitor">
        <div class="pull-right">
            <img class="img-sender" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfp1/v/t1.0-1/c152.5.631.631/s160x160/10462478_573007496145196_4947417371441127292_n.jpg?oh=dc20dd53aae9a5a6ed3dd2b9139a9a06&oe=569E6945&__gda__=1449397557_47bcf7bf3b8f538992c4aaa8b4fb9692" />
        </div>
        <h4 class="list-group-item-heading count">
            100,000
        </h4>
        <p class="list-group-item-text">
            Tiền nhậu bữa trước
        </p>
    </a>

    <a href="http://www.jquery2dotnet.com" class="list-group-item visitor">
        <div class="pull-right">
            <img class="img-sender" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfp1/v/t1.0-1/c152.5.631.631/s160x160/10462478_573007496145196_4947417371441127292_n.jpg?oh=dc20dd53aae9a5a6ed3dd2b9139a9a06&oe=569E6945&__gda__=1449397557_47bcf7bf3b8f538992c4aaa8b4fb9692" />
        </div>
        <h4 class="list-group-item-heading count">
            200,000
        </h4>
        <p class="list-group-item-text">
            Tiền nhậu bữa trước nữa
        </p>
    </a>
</div>